.descriptionbox{
    margin: 120px 150px;
}
.descriptionbox-navigator{
    display: flex;

}
.nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 151px;
    height: 50px;
    border: 1px solid rgb(146, 146, 248);
}
.nav-box.fade{
    background-color: white;
    color: rgb(50, 52, 53);
}
.description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
}

@media only screen and (max-width: 570px){
    .descriptionbox{
        margin: 50px 20px;
    } 
    .descriptionbox-navigator{
        margin-bottom: 10px;
        justify-content: space-between;
    }
    .description{
        padding: 20px;
    }
}