.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.popular h1{
    color: rgb(31, 31, 31);
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
   width: 200px;
   height: 6px;
   border-radius: 10px;
   background: rgb(140, 140, 245); 
}
.popular-item{
    display: flex;
    margin-top: 50px;
    gap: 30px;
}