.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    margin-bottom: 50px;
}
.popular h1{
    color: rgb(31, 31, 31);
    font-size: 40px;
    font-weight: 600;
}
.popular hr{
   width: 200px;
   height: 4px;
   border-radius: 10px;
   background: rgb(140, 140, 245); 
}
.popular-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 30px;
}


@media only screen and (max-width: 570px){
    .popular{
        margin-top: 50px;
    }
     .popular-item{
        grid-template-columns: repeat(1, 1fr);
     }
     .popular h1{
        font-size: 30px;
     }
}